<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/imports :: head('Criar')}"></head>

<body>
    <nav class="navbar bgCard py-3">
        <div class="container px-4">
            <a class="text-decoration-none text-white" th:href="@{/medicos}">
                <i class="fa-solid fa-chevron-left fa-xl"></i>
            </a>
            <p class="text4 m-0">Novo perfil</p>
            <i class="fa-solid fa-ellipsis-vertical fa-xl"></i>
        </div>
    </nav>

    <div class="container px-4">
        <form class="py-4 needs-validation" novalidate method="POST" th:action="@{/medicos}" th:object="${doctor}">
            <input type="hidden" th:field="*{id}" name="id">
            <!--profissional-->
            <div class="pb-2">
                <span class="text6">Profissional</span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control border border-secondary" required placeholder="Nome completo"
                    th:field="*{name}" th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                <label for="floatingInput">Nome completo</label>
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <select class="form-select border border-secondary" required th:field='*{speciality}'
                        style="padding: 1rem 0.75rem;">
                        <option th:each="s : ${speciality}" th:value="${s}" th:text="${s.getSpeciality}">
                            a
                        </option>
                    </select>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control border border-secondary" maxlength="11" required placeholder="CRM"
                            th:field="*{crm}" th:classappend="${#fields.hasErrors('crm')}? 'is-invalid'">
                        <label for="floatingInput">CRM</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('crm')}" th:errors="*{crm}"></div>
                    </div>
                </div>
            </div>

            <!--contatos-->
            <div class="pb-2">
                <span class="text6">Contatos</span>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control border border-secondary" required placeholder="Email"
                    th:field="*{email}" name="email" th:classappend="${#fields.hasErrors('email')}? 'is-invalid'">
                <label for="floatingInput">Email</label>
                <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control border border-secondary" required placeholder="Celular"
                    th:field="*{telefone}" name="telefone"
                    th:classappend="${#fields.hasErrors('telefone')}? 'is-invalid'">
                <label for="floatingInput">Celular</label>
                <div class="text-danger" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></div>
            </div>

            <!--endereço profissional-->
            <div class="pb-2">
                <span class="text6">Endereço profissional</span>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control border border-secondary" required id="rua" placeholder="Endereço"
                    th:field="*{address.logradouro}" name="address.logradouro"
                    th:classappend="${#fields.hasErrors('address.logradouro')}? 'is-invalid'">
                <label for="floatingInput">Endereço</label>
                <div class="text-danger" th:if="${#fields.hasErrors('address.logradouro')}"
                    th:errors="*{address.logradouro}">
                </div>
            </div>
            <div class="row">
                <div class="col-3 pe-0">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border border-secondary" required id="n" placeholder="N°"
                            th:field="*{address.numero}" name="address.numero"
                            th:classappend="${#fields.hasErrors('address.numero')}? 'is-invalid'">
                        <label for="floatingInput">N°</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('address.numero')}"
                            th:errors="*{address.numero}">
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border border-secondary" required id="comple"
                            placeholder="Complemento" th:field="*{address.complemento}" name="address.complemento"
                            th:classappend="${#fields.hasErrors('address.complemento')}? 'is-invalid'">
                        <label for="floatingInput">Complemento</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('address.complemento')}"
                            th:errors="*{address.complemento}"></div>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control border border-secondary" required id="cid" placeholder="Cidade"
                    th:field="*{address.cidade}" name="address.cidade"
                    th:classappend="${#fields.hasErrors('address.cidade')}? 'is-invalid'">
                <label for="floatingInput">Cidade</label>
                <div class="text-danger" th:if="${#fields.hasErrors('address.cidade')}" th:errors="*{address.cidade}">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border border-secondary" required id="uf"
                            placeholder="UF" th:field="*{address.uf}" name="address.uf"
                            th:classappend="${#fields.hasErrors('address.uf')}? 'is-invalid'">
                        <label for="floatingInput">UF</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('address.uf')}" th:errors="*{address.uf}">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border border-secondary" required id="cep"
                            placeholder="CEP" th:field="*{address.cep}"
                            th:classappend="${#fields.hasErrors('address.cep')}? 'is-invalid'">
                        <label for="floatingInput">CEP</label>
                        <div class="text-danger" th:if="${#fields.hasErrors('address.cep')}" th:errors="*{address.cep}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-primary btnBlue text1 rounded-2 py-2" type="submit">
                    Concluir cadastro
                </button>
                <a class="btn btn-outline-primary borderBlue text1 rounded-2 py-2" th:href="@{/medicos}">
                    Cancelar
                </a>
            </div>
        </form>
    </div>

    <!--script-->
    <script>
        // var cep = document.getElementById('cep');
        // var maskCep = {
        //     mask: '00000-000'
        // };
        // var mask = IMask(element, maskCep);


        document.querySelector('#cep').addEventListener('keypress', (e) => {
            if (e.which == '13') {
                console.log('ok')
                e.preventDefault();
                verificaCEP()
            }
        })

        function verificaCEP() {
            var cep = $('#cep').val()
            var url = `https://viacep.com.br/ws/${cep}/json/`

            fetch(url).then(function (response) {
                response.json().then(function (data) {
                    console.log(data);
                    $('#rua').val(`${data.logradouro}`)
                    $('#cid').val(`${data.localidade}`)
                    $('#uf').val(`${data.uf}`)

                    $('#n').focus()
                })
            })
        }
    </script>
    <div th:replace="~{fragments/imports :: scripts}"></div>
</body>

</html>